[Unit]
Description=TRi database backup
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tri-backup run
Nice=10
IOSchedulingClass=idle
